.profile-subjects {
    font-weight: 900;
    font-size: 17px;
    margin: 15px 0;
}
.profile-content-box {
    width: 100%;
    color: #616262;
    font-weight: bold;
    background-color: #EDEDED;
    padding: 10px 8px;
    border-radius: 5px;
}
.panel-select-section {
    width: 100%;
    max-width: 900px !important;
}